@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-areas: 
    'title title'
    'break session'
    'clock clock'
    'ctrl ctrl';
  row-gap: 3rem;
  column-gap: 8rem;
  font-family: 'Poppins', sans-serif;
  place-items: center;
}